header{
    .container h1 {
        font-family: 'Playfair Display', serif;        
        font-size: 70px;
        font-weight: 900;
        padding-bottom: 150px;
    }
}

.navbar{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.sectionRef{
    h5{
        font-family: 'Playfair Display', serif;
        font-size: 30px;
        font-weight: 900;
    }
}

.paginacion{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
}