.navbar{
    background-color: #000000;
    color: #ffffff ;

    img{
        width: 78px;
        height: 45px;
    }

    a{
        color: $color_blanco;
    }

    div button span{
        background-color: rgb(52 58 64);
        color: $color_blanco;
    }

    .navbar-dark{
        color: $color_blanco;
    }

    .colornaranjo{
        color: #DE8684;
    }

    
}