.paginacion{
    .pagination li:first-child a {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    
    .pagination li:last-child a {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}
