.seccionTexto{
    h6{
        font-family: 'Playfair Display', serif;
        font-size: 18px;
        font-weight: 300;
        color: #222323;
    }

    %p{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 300;
        color: #222323;
    }
    
    button{        
        background-color: #707070;
        color: $color_blanco;
        @extend %p;
    }

    .posicionBoton{
        text-align: center;
    }

    @media (min-width: 576px) {
        .posicionBoton {
           text-align: left;
        }        
    }

    span {
        color: #DE8684;
    };
}