.sectionRef{
    // border-top : 1px solid rgba(0, 0, 0, 0.125);
    // border-bottom : 1px solid rgba(0, 0, 0, 0.125);

    .imgRedonda {
        width:150px;
        height:150px;
        border-radius:150px;
    }
    .sinborde{
        border: 0px solid ;
    }

    .centertext{
        text-align: $center;
    }
    @media (min-width: 576px) {
        .centertext{
        text-align: $center;
    }
    }
    @media (min-width: 768px) {
        .centertext{
        text-align: $center;
    }
    }
    @media (min-width: 992px) {
        .centertext{
        text-align: left;
        }    
    }
    span {
        color: #DE8684;
    };
}